  *{
    margin: 0;
    padding: 0;
  }

  body{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 5fr 2fr 2fr 2fr;
    grid-template-areas: 
    "header menu menu menu"
    "hero hero hero hero"
    "main main main IMAGE"
    "main main main extra"
    "Banner Banner Banner Banner"
    ;
  }

  header{
    grid-area: header;
    background-color: black;
  }

  nav{
    grid-area: menu;
    background-color: red;
  }
  #hero{
    grid-area: hero;
    background-color: blue;
  }

  main{
    grid-area: main;
    background-color: navy;
  }

  #banner{
    grid-area: Banner;
    background-color:yellow;
  }

  #image{
    grid-area: IMAGE;
    background: lightblue;
  }
  #extra{
    grid-area: extra;
    background-color: aquamarine;
  }

